{% extends "base.html" %}

{% block title %}<title>Create Animal</title>{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-container">
        <header><h2>Создание нового животного</h2></header>
        
        <form method="POST" enctype="multipart/form-data" class="animal-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="create" value="Create Animal" class="submit-btn" />
        </form>
        
        <p class="already-account">Вернуться к списку животных? <a href="{% url 'animal_list' %}">Назад</a></p>
    </div>
</section>
{% endblock %}
