{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap" rel="stylesheet">
    {% block title %}<title>My Exam Project</title>{% endblock %}
</head>

<body
    style=" background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612728076_170-p-cherno-goluboi-fon-246.jpg');">
    {% include "navbar.html" %}
    <div class="base-container">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}

</body>

</html>