<footer id="footer" class="zilla-slab-light-italic">
    <section class="section1Footer">
        <ul>
            <p>Контактная информация:</p>
            <li class="fas fa-phone">  Телефон: +1234567890</li>
            <li class="fas fa-envelope">  Email: 8TQpJ@example.com</li>
            <li class="fas fa-map-marker-alt">  Адрес: 123 Улица, Астана, Казахстан, 010000</li>
        </ul>
    </section>
    <section class="section2Footer">
        <ul class="social-icons">
            <p>Мы в социальных сетях:</p>
            <li class="fab fa-facebook">  <a  href="https://www.facebook.com/">Facebook</a></li>
            <li class="fab fa-twitter">  <a href="https://twitter.com/">Twitter</a></li>
            <li class="fab fa-instagram">  <a href="https://www.instagram.com/">Instagram</a></li>
            <li class="fab fa-telegram">  <a href="https://telegram.org/">Telegram</a></li>
        </ul>
    </section>
    <p class="aHover">©2024. Все права защищены. <br>
        Этот сайт создан в качестве проекта на хакатон SheCodes 3.0. <br>
        Авторы: <a class="fab fa-github" href="https://github.com/DiAnonim"> DiAnonim</a>, Кузыбахова Наргиза, 
        <a class="fab fa-linkedin" href="https://www.linkedin.com/in/akbota-bolat/"> Болат Акбота </a>        
    </p>
</footer>
