{% extends "base.html" %}

{% block title %}<title>Login & Signup</title>{% endblock %}

{% block content %}
<section class="wrapper">
    
    <div class="form login {% if login_form.errors %}error{% endif %}">
        <header>Login</header>
        <form method="POST">
            {% csrf_token %}
            {{ login_form.as_p }}
            <a href="#">Forgot password?</a>
            <input type="submit" name="login" value="Login" />
            <input class="login-header" type="submin" name="signup" value="Signup">
        </form>
    </div>

    <script>
      
    </script>
</section>
{% endblock %}
