{% extends "base.html" %}
{% load static customtags %}  <!-- Замените 'your_custom_tags' на имя вашего файла с тегами -->

{% block title %}<title>Profile</title>{% endblock %}
{% block header %}
<div class="copyright">
    <h1 class="base-header">Your Profile</h1>
</div>
{% endblock %}

{% block content %}
<div class="profile zilla-slab-light-italic" style="min-height: 450px;">
    <div class="profile-image">
        {% if user.image %}
            <img src="{{ user.image.url }}" alt="{{ user.username }}'s profile picture">
        {% else %}
            <img src="{% static 'default-avatar.png' %}" alt="Default profile picture">
        {% endif %}
    </div>
    
    <div class="profile-info">
        <h2>{{ user.username | isHaveValue }}</h2>
        <p>Email: {{ user.email | isHaveValue }}</p>
        <p>First Name: {{ user.first_name | isHaveValue }}</p>
        <p>Last Name: {{ user.last_name | isHaveValue }}</p>
        <p>Birthday: {{ user.birthday | isHaveValue }}</p>
        <p>Phone: {{ user.phone | isHaveValue }}</p>
        <p>Gender: {{ user.get_gender_display | isHaveValue }}</p>
    </div>
    
</div>
{% endblock %}
