{% extends "base.html" %}

{% block title %}<title>Login & Signup</title>{% endblock %}

{% block content %}
<section class="wrapper">
    <div class="form signup {% if signup_form.errors %}error{% endif %}">
        <header>Signup</header>
        <form method="POST">
            {% csrf_token %}
            {{ signup_form.as_p }}
            <div class="checkbox">
                <input type="checkbox" id="signupCheck" required />
                <label for="signupCheck">I accept all terms & conditions</label>
            </div>
            <input type="submit" name="signup" value="Signup" />
        </form>
    </div>


    <script>
      
    </script>
</section>
{% endblock %}
