{% extends "base.html" %}

{% block title %}<title>Login & Signup</title>{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-container">
        <header>Signup</header>
        <form method="POST" class="signup-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="terms-checkbox">
                <input type="checkbox" id="signupCheck" required />
                <label for="signupCheck">I accept all terms & conditions</label>
            </div>
            <input type="submit" name="signup" value="Signup" class="submit-btn" />
        </form>
        <p class="already-account">Already have an account? <a href="{% url 'login' %}">Login</a></p>

    </div>
</section>
{% endblock %}
