{% extends 'customAdmin/home.html' %}
{% block content %}
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Категория животных</span>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Список категорий животных</span> <span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Название</span>
                        {% for animal in category_animals %}
                        <span class="data-list">{{animal.name}}</span>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}