{% extends 'customAdmin/home.html' %}
{% block content %}
 <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Животные</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Название</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.name}}</span>
                        
                        {% endfor %}
                    </div>
                    <div class="data email">
                        <span class="data-title">Порода</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.breed}}</span>        
                        {% endfor %}
                    </div>
                    <div class="data joined">
                        <span class="data-title">Пол</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.gender}}</span>
                        {% endfor %}
                    </div>

                      <div class="data joined">
                        <span class="data-title">Вес</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.weight}}</span>
                        {% endfor %}
                    </div>
                
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>  
                    </div>
                </div>
{% endblock %}
