{% extends 'customAdmin/home.html' %}
{% block content %}
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Животные</span>
                    <a style="margin-left: 20px;" href="{% url 'admin_create_animal' %}" class="btn btn-info">Создать</a>
                </div>
                

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Название</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.name}}</span>

                        {% endfor %}
                    </div>
                    <div class="data email">
                        <span class="data-title">Порода</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.breed}}</span>
                        {% endfor %}
                    </div>
                    <div class="data joined">
                        <span class="data-title">Пол</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.gender}}</span>
                        {% endfor %}
                    </div>

                    <div class="data joined">
                        <span class="data-title">Вес</span>
                        {% for animal in animals %}
                        <span class="data-list">{{animal.weight}}</span>
                        {% endfor %}
                    </div>

                    <div style="width: 250px;" class="data status">
                        <span class="data-title">Управление</span>
                        <div  class="d-flex justify-content-around">
                            {% for animal in animals %}
                            <a href="{% url 'admin_update_animal' animal.id %}" class="btn btn-info mb-2">Редактировать</a>
                            <a href="{% url 'admin_delete_animal' animal.id %}" class="btn btn-info  mb-2">Удалить</a>

                           


                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}