{% extends 'customAdmin/home.html' %}

{% block content %}
<div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>

    <div class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here...">
    </div>
    
    <img src="images/profile.jpg" alt="">
</div>

<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Главная страница</span>
        </div>

        <div class="boxes">
            <div class="box box1">
                <i class="uil uil-thumbs-up"></i>
                <span class="text">Total Animals</span>
                <span class="number">50,120</span>
            </div>
            <div class="box box2">
                <i class="uil uil-comments"></i>
                <span class="text">Total Posts</span>
                <span class="number">20,120</span>
            </div>
            <div class="box box3">
                <i class="uil uil-share"></i>
                <span class="text">Total Users</span>
                <span class="number">10,120</span>
            </div>
        </div>
    </div>

    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Пользователи</span>
        </div>

        <div class="activity-data">
            <div class="data names">
                <span class="data-title">ФИО</span>
                {% for user in customusers %}
                <span class="data-list">{{user.first_name}} {{user.last_name}}</span>

                {% endfor %}
         
            </div>
            <div class="data surnames">
                <span class="data-title">Email</span>
                {% for user in customusers %}
                <span class="data-list">{{user.email}}</span>
                {% endfor %}
            </div>
            <div class="data birthdate">
                <span class="data-title">Дата рождения</span>
                {% for user in customusers %}
                <span class="data-list">{{user.birthday}}</span>
                {% endfor %}
               
            </div>
            <div class="data gender">
                <span class="data-title">Пол</span>
                {% for user in customusers %}
                <span class="data-list">{{user.gender}}</span>
                {% endfor %}
               
            </div>
          
            <div class="data gender"></div>
                <span class="data-title">Номер телефона</span>
                {% for user in customusers %}
                <span class="data-list">{{user.phone}}</span>
                {% endfor %}
               
            </div>

    

             <div class="data gender"></div>
                <span class="data-title">Madification</span>
                <span class="data-list">New</span>
               
            </div>
        </div>
    </div>
</div>
{% endblock %}
