{% extends 'customAdmin/home.html' %}
{% block content %}
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Категория постов</span>
            <div class="activity">
 <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Список категорий постов</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Название</span>
                        {% for post_category in post_categories %}
                        <span class="data-list">{{post_category.name}}</span>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}
