{% extends 'customAdmin/home.html' %}
{% block content %}
 <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Приюты</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Название</span>
                        <span class="data-list">Prem Shahi</span>
                 
                    </div>
                    <div class="data email">
                        <span class="data-title">Official Website</span>
                        <span class="data-list">premshahi@gmail.com</span>
                      
                    </div>
                    <div class="data joined">
                        <span class="data-title">Phone Number</span>
                        <span class="data-list">2022-02-12</span>
                       
                    </div>
                    
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>
                       
                    </div>
                </div>
{% endblock %}
