{% extends 'customAdmin/home.html' %}
{% block content %}
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Университеты</span>
        </div>
        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text">Список университетов</span>
            </div>

            <div class="activity-data">
                <div class="data names">
                    <span class="data-title">Название</span>
                    {% for university in universities %}
                    <span class="data-list">{{university.name}}</span>
                    {% endfor %}

                </div>
                <div class="data email">
                    <span class="data-title">Official Website</span>
                    {% for university in universities %}
                    <span class="data-list">{{university.website}}</span>
                    {% endfor %}
                </div>
                <div class="data joined">
                    <span class="data-title">Phone Number</span>
                    <span class="data-list">{{university.phone_number}}</span>

                </div>

                <div style="width: 250px;" class="data status">
                    <span class="data-title">Управление</span>
                    <div  class="d-flex justify-content-around">
                        {% for animal in universities %}
                        <a href="{% url 'admin_update_university' animal.id %}" class="btn btn-info mb-2">Редактировать</a>
                        <a href="{% url 'admin_delete_university' animal.id %}" class="btn btn-info  mb-2">Удалить</a>


                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}